<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Fiş ve irsaliyeleri fotoğraflayarak malzeme hareketine eklemek için kamera kullanılır.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Sora-Regular.ttf</string>
		<string>Sora-SemiBold.ttf</string>
		<string>Sora-Bold.ttf</string>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
